
.acf-item{
    margin: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
    background-color:antiquewhite;
    padding: 40px;
    border-radius: 20px;
    
}
.acf-item-img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    align-self: center;
    
}
.acf-item-img-animation{
    animation-name: deZoom;
    animation-duration: 0.5s;
    cursor: pointer;
}
@keyframes zoom {
    from {width: 250px; height: 250px;}
    to {width: 270px; height: 270px;}
  }
@keyframes deZoom {
    from {width: 270px; height: 270px;}
    to {width: 250px; height: 250px;}
}

.acf-item-img-animation:hover{
    animation-name: zoom;
    animation-duration: 0.5s;
    height: 270px;
    width: 270px;
}




.acf-item-price{
    background-color: rgba(215, 202, 160, 0.9);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    position: absolute;
    top : 0;
    left: 0;
    
}
.acf-item-name{
    text-align: center;
    text-transform: uppercase;
    
}
.acf-item-addButton{
    width: 40%;
    margin: auto;
    border-radius: 2rem;
    cursor: pointer;
}
.acf-item-addButton:active {
    background-color: rgba(215, 202, 160, 0.9);
}


