.acf-item-modal{
    width: 60%;
    position: fixed;
    top: 25%;
    left: 25%;
    display : flex;
    z-index: 20;
    border: 2px solid rgba(50, 50, 50, 0.5);
    background-color: antiquewhite;
}

.acf-item-modal-left{
    margin: auto;
}
.acf-item-modal-img{
    width: 60%;
    height: 60%;
    border-radius: 20px;
    align-self: center;
    
}



.acf-item-modal-comment{
   margin: auto;
   text-align: justify;
   padding-right: 2em;
}
.acf-item-modal-comment h2{
    margin-bottom: 2em;
}

.acf-item-modal-close{
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
}
.acf-item-modal-imgGlobal{
    display: flex;
}

.acf-item-modal-arrow{ 
    height: 2.5rem;
    margin: auto;
    opacity: 0.5;
}

.acf-item-modal-arrow:hover{
    opacity: 1;
    cursor: pointer;
}
.acf-item-modal-zoom{
    width: 10%;
    position: absolute;
    right : 10%;
}

.acf-item-modal-zoom:hover{
    cursor: pointer;
}


/* on Zoom*/
.acf-item-modal-comment-zoom{
    display: none;
}

.acf-item-modal-imgGlobal-zoom{
    scale : 1.1;
    position: fixed;
    left: 10%;
    top: 5%;
    z-index: 1;
}

.acf-item-modal-arrow-zoom{
    opacity: 1;
    scale: 0.5;
}

.acf-item-modal-zoom{
    background-color: rgba(50, 50, 50, 0);
    border-color: rgba(50, 50, 50, 0);
}

.acf-item-modal-close-zoom{
    cursor: pointer;
    position:fixed;
    margin-right: 10px;
    margin-top: 10px;
    font-size: larger;
    z-index: 2;

}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    .acf-item-modal{
        flex-direction: column;
        top: 10%;
    }
    .acf-item-modal-comment{
           
        padding-left: 10px;
    }
}
@media screen and (max-width: 440px){
    .acf-item-modal{
        width: 100%;
        left: 0;
        flex-direction: column;
        
    }
    .acf-item-modal-left{
        padding-bottom: 0;
        
    }
    .acf-item-modal-comment h2{
        margin-bottom: 0;
    }
    .acf-item-modal-comment{
        font-size: small;
        padding-left: 10px;
    }

    .acf-item-modal-zoom{
       display: none;
    }
    .acf-item-modal-close{
        cursor: pointer;
        position:static;
        text-align: end;
        padding-right: 10px;
        padding-top: 10px;
    }
    
}