.acf-item-modal{
    width: 60%;
    height: 60%;
    position: fixed;
    top: 25%;
    left: 25%;
    display : flex;
    z-index: 20;
    border: 2px solid rgba(50, 50, 50, 0.5);
    padding: 10px;
    background-color: antiquewhite;
}

.acf-item-modal-left{
    margin: auto;
}

.acf-item-modal-comment{
   margin-top: 2rem;
   text-align: justify;
   padding-right: 2em;
}
.acf-item-modal-comment h2{
    margin-bottom: 2em;
}

.acf-item-modal-close{
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;

   
}