
.acf-item{
    margin: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
    background-color:antiquewhite;
    padding: 40px;
    border-radius: 20px;
    
}
.acf-item-img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
}
.acf-item-price{
    background-color: rgba(215, 202, 160, 0.9);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    position: absolute;
    top : 0;
    left: 0;
    
}
.acf-item-name{
    text-align: center;
    text-transform: uppercase;
    
}
.acf-item-addButton{
    width: 40%;
    margin: auto;
    border-radius: 2rem;
}
.acf-item-addButton:active {
    background-color: rgba(215, 202, 160, 0.9);

    
}