.acf-footer {
  background-color: #d7caa0;
  display: flex;
  justify-content: space-between;
}
.acf-footer-list {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.acf-footer-list-item {
  text-decoration: none;
  color: black;
  padding: 30px;
  margin: 0;
}
.acf-footer-list-item:hover {
  font-weight: bold;
}
.acf-footer-admin {
  margin-right: 30px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 440px) {
  .acf-footer {
    flex-direction: column;
    text-align: center;
  }
  .acf-footer-list {
    flex-direction: column;
  }
  .acf-footer-admin {
    margin: 0;
  }
  .acf-footer-list-item {
    padding: 15px;
    padding-left: 0;
  }
}
