.acf-footer {
  background-color: #d7caa0;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.27);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.27);
}
.acf-footer-list {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.acf-footer-list-item { 
  text-decoration: none;
  color: black;
  padding: 30px;
  margin: 0;
}
.acf-footer-admin{
    margin-right: 30px;
}
.acf-footer-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
