
.acf-contact-pageup{
    background-color: rgb(250, 235, 215);
    padding: 50px;
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 0;
}

.acf-contact-ico img{
    
    width: 200px;
    
}
.acf-contact-right {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;
  }
  
  .acf-contact-right iframe {
    position: absolute;
    top: 0;
    left: 15%;
    width: 75%;
    height: 75%;
  }
  .acf-contact-left{
      padding-right: 20px;
      text-align: right;
  }
.acf-contact-pagedown{
    display: flex;
    background-color: rgba(250, 235, 215, 0.7);
    padding: 50px;
}
.acf-contact-form{
   margin: auto;
}
.acf-contact-form-img{
  margin: auto;
  text-align: center;
}
.acf-contact-form-img img{
    width: 300px;
}


fieldset{
	margin-top: 25px;
    width: 100%;
}
textarea{
	width: 496px;
	height: 200px;
}
label{
	display: block;
	width: 20%;
	float: left;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 970px){
    .acf-contact-pageup{
        flex-direction: column;
    }
    .acf-contact-left{
        text-align: center;
        padding-right: 0;
    }

    .acf-contact-ico img{
        width: 25%;
    }
    .acf-contact-right iframe {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
      }
    .acf-contact-pagedown{
        flex-direction: column;
    }
}
@media screen and (max-width: 640px){
    fieldset{
        margin-top: 25px;
        width: 80%;
    }
     textarea
     {
         width: 300px;
         height: 200px;
     }
     input{
        width: 100%;
    }
    label{
        
        width: 100%;
        
    }
}
@media screen and (max-width: 440px){
    
    .acf-contact-ico{
        display: none;
    }
    .acf-contact-pagedown{
        padding: 0px;
        margin: auto;
     }
     .acf-contact-form-title{
        text-align: center;
     }
     .acf-contact-form-img{
         display: none;
     }
     

  
}
