.acf-workshop-page{
    text-align: center;
    background-color: rgba(215, 202, 160, 0.5);
    padding: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.5) ;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5) ;
}

.acf-workshop-images-bussiere{
    display: flex;
    justify-content: space-around;

}

.acf-workshop-images-bussiere-single{
    padding: 10px;
    width: 20%;
    box-shadow: inset 0 0 100px #993300;
    
}